$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.title {
    text-align: center;
    //color: #D84747;
}

.translation-container {
    margin: 10px 20px 10px 20px;
}

#registrationForm {
    padding: 20px;
}

.select-improved {
    margin-top: 8px;
}

.head-btns{
    margin-left: 5px;
}

.foot-st {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
}

body {
    position: relative;
    height: 100%;
}
html {
    height: 100%;
}

.search-panel {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.srch-input {
    margin-right: 5px;
    margin-right: 5px;
}