$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.title {
    text-align: center;
    color: #D84747;
}

.translation-container {
    margin: 10px 20px 10px 20px;
}

#registrationForm {
    padding: 20px;
}