
.panel-grey {
  border-color: #cecdc5;
}
.panel-grey>.panel-heading {
  color: #494b4a;
  background-color: #babfb6;
  border-color: #e4e9e6;
}

.panel-dark-red {
  border-color: #ce141c;
}
.panel-dark-red>.panel-heading {
  color: #a9151f;
  background-color: #b1b4ad;
  border-color: #a58d8d;
}

.panel-codeit {
  border-color: #e70808;
}
.panel-codeit>.panel-heading {
  color: #030101;
  background-color: #fafff5;
  border-color: #dd0005;
}
