<link type="text/css" rel="stylesheet" href="public/css/dnd.css"/>
<div class="container">

    <div class="row form-block">
            <form id="noteForm" name="$ctrl.noteForm" class="" ng-submit="$ctrl.addNote()" role="form" novalidate>

                    <div class="col-sm-12"
                         ng-class="{
                                'has-error': $ctrl.noteForm.text.$invalid && $ctrl.noteForm.text.$dirty,
                                'has-success': $ctrl.noteForm.text.$valid
                        }">

                        <div class="input-group input-group-md">

                            <span class="input-group-btn">
                                <button class="super-btn btn btn-default btn-md btn-{{$ctrl.globalVars.color}}" type="submit">
                                    <span>Add</span>
                                </button>
                                <!--<button type="submit" class="btn btn-lg btn-{{$ctrl.globalVars.color}}">Add</button>-->
                            </span>

                            <input id="text" ng-model="$ctrl.text" type="text" class="form-control input-md" name="text" value="" required placeholder="Note text...">

                            <span class="input-group-btn">
                                <a href="" class="super-btn btn btn-default btn-md btn-{{$ctrl.globalVars.color}}"
                                   ng-class="{'active': $ctrl.resizeMode}"
                                   ng-click="$ctrl.toggleResize()">
                                    Resize mode
                                </a>
                            </span>
                        </div>
                        <div ng-show="$ctrl.noteForm.text.$dirty" ng-messages="$ctrl.noteForm.text.$error">
                            <p class="text-danger" ng-message="required">This field is required</p>
                        </div>
                    </div>

            </form>

    </div>

    <div class="row">
        <div class="col-sm-4 todo-base">
            <h4>New notes</h4>
            <dnd-zone mode="drag" id="dragZone" class="dragzone" on-end="$ctrl.resizeRefresh()">
            <!--<dnd-zone mode="drag" id="dragZone" class="dragzone">-->
            </dnd-zone>
                <h4>Trash zone</h4>
            <dnd-zone mode="trash" class="dropzone-other">

            </dnd-zone>
        </div>

        <div class="col-sm-8">
            <h4>Back-end notes</h4>
            <dnd-zone mode="drop" class="dropzone" on-end="$ctrl.resizeRefresh()">

            </dnd-zone>

            <h4>Front-end notes</h4>
            <dnd-zone mode="drop" class="dropzone" on-end="$ctrl.resizeRefresh()">

            </dnd-zone>

        </div>
    </div>
</div>
