<ng-form name="$ctrl.passwordConfirmForm">

    <div class="form-group inputArea"
         ng-if="$ctrl.userId !== null"
         ng-class="{'has-error': $ctrl.passwordConfirmForm.newpasswordrepeat.$invalid && $ctrl.passwordConfirmForm.newpasswordrepeat.$dirty,
                    'has-success': $ctrl.passwordConfirmForm.newpasswordrepeat.$valid}">
        <label for="registration-newpasswordrepeat">Repeat new password</label>
        <input id="registration-newpasswordrepeat" type="password" ng-change="$ctrl.$onChanges()" ng-model="$ctrl.passwordConfirm" name="newpasswordrepeat" placeholder="newpasswordrepeat" class="form-control">

        <div ng-show="$ctrl.passwordConfirmForm.newpasswordrepeat.$dirty" ng-messages="$ctrl.passwordConfirmForm.newpasswordrepeat.$error">
            <p class="text-danger" ng-message="match">Passwords must be equal</p>
        </div>

    </div>

</ng-form>
