<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-{{$ctrl.globalVars.color}}">
                <div class="panel-heading">
                    <div class="panel-title">Users management</div>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="(id, user) in $ctrl.users" href="" ng-click="$ctrl.selectUser(id)" class="list-group-item">
                            <strong>{{user.username}}</strong> {{user.email}} - {{user.country}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <form id="usersForm" name="$ctrl.usersForm" class="form-horizontal" ng-submit="$ctrl.submit($ctrl.userId)" role="form" novalidate>
                <div class="form-group inputArea"
                     ng-class="{'has-error': $ctrl.usersForm.email.$invalid && $ctrl.usersForm.email.$dirty,
                                'has-success': $ctrl.usersForm.email.$valid}">
                    <label for="registration-email">Email</label>
                    <input id="registration-email" ng-model="$ctrl.data.email" type="email" class="form-control" name="email" value="" required placeholder="email">
                    <div ng-show="$ctrl.usersForm.email.$dirty" ng-messages="$ctrl.usersForm.email.$error">
                        <p class="text-danger" ng-message="required">This field is required</p>
                        <p class="text-danger" ng-message="email">Wrong email format</p>
                    </div>
                </div>

                <div class="form-group inputArea"
                     ng-class="{'has-error': $ctrl.usersForm.username.$invalid && $ctrl.usersForm.username.$dirty,
                                'has-success': $ctrl.usersForm.username.$valid}">
                    <label for="registration-username">User name</label>
                    <input id="registration-username" type="text" class="form-control" name="username" value="" required placeholder="user name"
                           ng-model="$ctrl.data.username"
                           ng-maxlength="60">
                    <div ng-show="$ctrl.usersForm.username.$dirty" ng-messages="$ctrl.usersForm.username.$error">
                        <p class="text-danger" ng-message="required">This field is required</p>
                        <p class="text-danger" ng-message="maxlength">This field has more than 60 characters</p>
                    </div>
                </div>

                <div class="form-group inputArea"
                     ng-if="$ctrl.userId === null"
                     ng-class="{'has-error': $ctrl.usersForm.password.$invalid && $ctrl.usersForm.password.$dirty,
                                'has-success': $ctrl.usersForm.password.$valid}">
                    <label for="registration-password">Password</label>
                    <input id="registration-password" type="password" class="form-control" required name="password" placeholder="password"
                           ng-pattern="$ctrl.pwdRegex"
                           ng-model="$ctrl.data.password"
                           ng-minlength="8">
                    <div ng-show="$ctrl.usersForm.password.$dirty" ng-messages="$ctrl.usersForm.password.$error">
                        <p class="text-danger" ng-message="required">This field is required</p>
                        <p class="text-danger" ng-message="minlength">This field has less than 8 characters</p>
                        <p class="text-danger" ng-message="pattern">This field must contain at least 1 number, 1 symbol, 1 capitalized letter</p>
                    </div>
                </div>

                <div class="form-group inputArea"
                     ng-if="$ctrl.userId !== null"
                     ng-class="{'has-error': $ctrl.usersForm.newpassword.$invalid && $ctrl.usersForm.newpassword.$dirty,
                                'has-success': $ctrl.usersForm.newpassword.$valid}">
                    <label for="registration-newpassword">New password</label>
                    <input id="registration-newpassword" type="password" class="form-control" name="newpassword" placeholder="newpassword"
                           ng-pattern="$ctrl.pwdRegex"
                           ng-model="$ctrl.data.newpassword"
                           ng-minlength="8">
                    <div ng-show="$ctrl.usersForm.newpassword.$dirty" ng-messages="$ctrl.usersForm.newpassword.$error">
                        <p class="text-danger" ng-message="minlength">This field has less than 8 characters</p>
                        <p class="text-danger" ng-message="pattern">This field must contain at least 1 number, 1 symbol, 1 capitalized letter</p>
                    </div>
                </div>

                <password-confirm ng-if="$ctrl.userId !== null" password="$ctrl.data.newpassword"></password-confirm>

                <div class="form-group inputArea"
                     ng-class="{'has-error': $ctrl.usersForm.country.$invalid && $ctrl.usersForm.country.$dirty,
                                'has-success': $ctrl.usersForm.country.$valid}">
                    <label for="registration-country">Country</label>
                    <input id="registration-country" name="country" class="form-control" required placeholder="Country"
                           ng-model="$ctrl.data.country"
                           ng-maxlength="60">
                    <div ng-show="$ctrl.usersForm.country.$dirty" ng-messages="$ctrl.usersForm.country.$error">
                        <p class="text-danger" ng-message="required">This field is required</p>
                        <p class="text-danger" ng-message="maxlength">This field has more than 60 characters</p>
                    </div>
                </div>

                <div class="form-group submitArea">
                    <!-- Button -->
                    <div class="col-md-4 controls">
                        <button form="usersForm" ng-disabled="$ctrl.usersForm.$invalid || $ctrl.userId" id="btn-add" type="submit" class="btn btn-{{$ctrl.globalVars.color}}">Add</button>
                    </div>
                    <div class="col-md-4 controls">
                        <button form="usersForm" ng-disabled="$ctrl.usersForm.$invalid || !$ctrl.userId" id="btn-edit" type="submit" class="btn btn-{{$ctrl.globalVars.color}}">Edit</button>
                    </div>
                    <div class="col-md-4 controls">
                        <button form="usersForm" ng-click="$ctrl.selectUser(null)" ng-show="$ctrl.userId !== null" id="btn-cancel" class="btn btn-{{$ctrl.globalVars.color}}">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
