<link type="text/css" rel="stylesheet" href="public/css/dnd.css"/>
<div class="container">

    <dnd-zone mode="drag" class="dragzone col-md-2">

            <dnd-element>
                <button>aaaaa</button>
            </dnd-element>
            <dnd-element>
                <button>aaaaassss</button>
            </dnd-element>

    </dnd-zone>

    <dnd-zone mode="drop" class="dropzone-main col-md-6 col-md-offset-4">

    </dnd-zone>

    <dnd-zone mode="drop" class="dropzone-other col-md-6 col-md-offset-4">

    </dnd-zone>
</div>
