<div class="container">

    <dnd-zone mode="drag" style="
    margin:0 auto;
    display: block;
    max-width:200px;
    height:200px;
    background-color:green;
    ">

            <dnd-element>
                <button>aaaaa</button>
            </dnd-element>
            <dnd-element>
                <button>aaaaassss</button>
            </dnd-element>

    </dnd-zone>

    <dnd-zone mode="drop" style="margin:0 auto; display: block; max-width:200px; height:200px;">


    </dnd-zone>
</div>
