<ul class="nav navbar-nav">
    <li ng-class="{active: $ctrl.location == '/'}"><a href="/">Home</a></li>
    <li ng-class="{active: $ctrl.location == '/login'}"><a href="#!/login">Login</a></li>
    <li ng-class="{active: $ctrl.location == '/registration'}"><a href="#!/registration">Registration</a></li>
    <li ng-class="{active: $ctrl.location == '/translations'}"><a href="#!/translations">Translations</a></li>
    <li ng-class="{active: $ctrl.location == '/users'}"><a href="#!/users">Users</a></li>
    <li ng-class="{active: $ctrl.location == '/search'}"><a href="#!/search">Search</a></li>
    <li ng-class="{active: $ctrl.location == '/notes'}"><a href="#!/notes">Notes</a></li>
</ul>
