<div id="select-improved" class="btn-group bootstrap-select" ng-class="{'open': $ctrl.expand}">
    <button type="button"
            class="btn dropdown-toggle btn-default"
            ng-click="$ctrl.hide()"
            role="button" title="Select color">
        <span class="filter-option pull-left">Select color</span>&nbsp;
        <span class="bs-caret">
            <span class="caret"></span>
        </span>
    </button>
    <div ng-class="{'open': $ctrl.expand}" role="combobox">
        <ul class="dropdown-menu" role="listbox">
            <li>
                <input type="text" ng-model="$ctrl.search" class="form-control" autocomplete="off" role="textbox"/>
            </li>
            <li ng-repeat="item in $ctrl.list | filter:$ctrl.search" ng-class="{'active': $ctrl.selvalue == item.name}" ng-click="$ctrl.selvalue = item.name">
                <a role="option">
                    <span class="text">{{item.val}}</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
        </ul>
    </div>
</div>{{$ctrl.expand}}
<my-click-out
    selectors="['div', 'ul']"
    on-click-out="$ctrl.hide()"
>

</my-click-out>