<div class="btn-group bootstrap-select open">
    <button type="button"
            class="btn dropdown-toggle btn-default"
            data-toggle="dropdown" role="button" title="Select color" aria-expanded="true">
        <span class="filter-option pull-left">Select color</span>&nbsp;
        <span class="bs-caret">
            <span class="caret"></span>
        </span>
    </button>
    <div class="dropdown-menu open" role="combobox" style="max-height: 392px; overflow: hidden; min-height: 42px;">
        <div class="bs-searchbox">
            <input type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search">
        </div>
        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="item in $ctrl.list" class="selected active">
                <a role="option">
                    <span class="text">{{item}}</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
