#loginBox {
    margin-top:50px;
}

.loginBody {
    padding-top:30px;
}

.inputArea {
    margin-bottom: 25px;
}

.submitArea {
    margin-top:10px;
}

#signUpBtn {
    border-top: 1px solid#888;
    padding-top:15px;
    font-size:85%;
}
