<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="state in $ctrl.states"
                    ng-class="{active: $ctrl.isActive(state.name)}"
                ><a href="" ng-click="$ctrl.goTo(state.name)">{{state.params.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="head-btns">
                    <select-improved list="main.themes" selvalue="color"></select-improved>
                </li>
                <li ng-show="loggedIn" class="head-btns" ng-cloak>
                    <button type="button" ng-click="$ctrl.logout()" class="btn btn-default navbar-btn">Logout</button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>