<div class="container">
    <div class="panel panel-danger search-panel">
        <div class="panel-heading">
            <div class="panel-title">Search page</div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-7"><label for="srch-word"><h4>Search word</h4></label></div>
                    <div class="col-md-5">
                        <button class="btn btn-primary srch-input" ng-class="{'active': vm.curFields.Name}" ng-click="vm.curFields.Name = !vm.curFields.Name">
                            By name
                        </button>
                        <button class="btn btn-primary srch-input" ng-class="{'active': vm.curFields.Type}" ng-click="vm.curFields.Type = !vm.curFields.Type">
                            By type
                        </button>
                        <button class="btn btn-primary srch-input" ng-class="{'active': vm.curFields['Designed by']}" ng-click="vm.curFields['Designed by'] = !vm.curFields['Designed by']">
                            By designer
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <input id="srch-word" class="form-control" type="text" ng-model="vm.searchWord"/>
                    </div>
                    <div class="col-md-5">
                        <label class="srch-input">
                            <span>Case insensetive</span>
                            <input type="checkbox" value="" ng-model="vm.insens"/>
                        </label>
                        <label class="srch-input">
                            <span>Exact match</span>
                            <input type="checkbox" value="" ng-model="vm.exact"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <a ng-repeat="(i, item) in vm.data | searchFilter:vm.searchWord:vm.curFields:vm.insens:vm.exact" class="list-group-item">
                    <strong>{{item.Name}}</strong> {{item.Type}} - {{item['Designed by']}}
                </a>
            </div>
        </div>
    </div>
</div>